Package: e2-j00zeks-bh-addon-userspacks-variousauthorspack
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: screens by abdi, aidan76, fhroma, Homar, moons, rafalcool, seven
Maintainer: j00zek
Source: NA
Version: 23.02.22.1405
Architecture: all
DestinationPath:  /usr/share/enigma2/BlackHarmony
