Package: e2-j00zeks-bh-addon-allbuttons-rectangle-mixed-buttons
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: allbuttons
Maintainer: j00zek
Source: NA
Version: 23.02.21.0645
Architecture: all
DestinationPath:  /usr/share/enigma2/BlackHarmony/allButtons/Rectangle-mixed.buttons
