Package: e2kodi-skin-sq9-pli-fullnighthd-mod-m-py3
Priority: optional
Section: utils
Depends: 
Description: Standardowa skorka do e2Kodi
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 25.09.02.1051
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions/E2Kodi/skins/PLi-FullNightHD-Mod-M-PY3
ExcludeFolder: 
RunScriptBeforeBuild:
BuildType: python310
