Package: enigma2-plugin-picons--j00zeks-transparent-220x132-zet71
Priority: optional
Section: utils
Depends: 
Description: zebrane transparentne pikony kolegi zet71, azman, endriu i innych
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 24.08.08.1330
Architecture: all
DestinationPath: /usr/share/enigma2/picon
