Package: enigma2-plugin-extensions--j00zeks-dgweather
Priority: optional
Section: utils
Depends: 
Description: Na podstawie XXX i przy wsparciu Tolek7 NIE SKONCZONA !!!
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 23.11.30.0843
Architecture: all
DestinationPath: /usr/lib/enigma2/python/
