Package: enigma2-plugin-extensions--j00zeks-j00zekopkgmgr
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components
Description: Alternatywny menadzer opkg
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 22.04.05.0656
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions/j00zekOPKGmgr
