Package: enigma2-plugin-extensions--j00zeks-e2iplayer-zadmario-fork
Priority: optional
Section: utils
Depends: 
Description: E2Iplayer kolegi zadmario ze zmienionymi sciezkami
Maintainer: zadmario
Source: https://gitlab.com/zadmario/e2iplayer
Version: 2025.01.08.01
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions
ExcludeFolder: usr/lib/enigma2/python/Plugins/Extensions/scripts
RunScriptBeforeBuild: scripts/getOnlineFiles.sh
