Package: enigma2-plugin-extensions--j00zeks-oscamstatus-mod-kos
Priority: optional
Section: utils
Depends: 
Description: wersja zmodyfikowana przez kolegę Kos
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 20.12.30.0806
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions/OscamStatus
