Package: e2kodi-endriu_skin_BH
Priority: optional
Section: utils
Depends:
Description: Dodatkowa skorka do e2Kodi
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 25.06.03.0637
Architecture: all
DestinationPath: /etc/E2Kodi/userSkins/endriu_E2K_skin_BH
ExcludeFolder: 
RunScriptBeforeBuild:
BuildType: python310
