Package: enigma2-plugin-extensions--j00zeks-streamlink
Priority: optional
Section: utils
Depends: 
Description: pakiet zawiera przepakowane skrypty oryginalnego streamlinka, bez żadnych zmian
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 22.02.27.0627
Architecture: all
DestinationPath: /
ExcludeFolder: scripts
RunScriptBeforeBuild: scripts/update_streamlink.sh
