<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings version="1">
        <section id="plugin.video.pgobox">
                <category id="ipla" label="30005">
                        <group id="1">
                <setting help="" id="username" label="30000" type="string">
                        <level>0</level>
                        <default/>
                        <constraints>
                                <allowempty>true</allowempty>
                        </constraints>
                        <control format="string" type="edit">
                                <heading>30000</heading>
                        </control>
                </setting>
                <setting help="" id="password" label="30001" type="string">
                        <level>0</level>
                        <default/>
                        <constraints>
                                <allowempty>true</allowempty>
                        </constraints>
                        <control format="string" type="edit">
                                <heading>30001</heading>
                                <hidden>true</hidden>
                        </control>
                </setting>
                <setting help="" id="logowanie" label="30002" type="boolean">
                        <level>0</level>
                        <default>false</default>
                        <control type="toggle"/>
                </setting>
                
                <setting id="klient" type="string" label="30007" help="">
                        <level>0</level>
                        <default>polsatbox</default>
                        <constraints>
                                <options>
                                        <option>polsatbox</option>
                                        <option>iCOK</option>
                                </options>
                        </constraints>
                        <control type="list" format="string">
                                <heading>30007</heading>
                        </control>
                </setting>
                        </group>
                </category>
                <category help="" id="autoview" label="30006">
                        <group id="1">
                                <setting help="" id="auto-view" label="30003" type="boolean">
                                        <level>0</level>
                                        <default>false</default>
                                        <control type="toggle"/>
                                </setting>
                                <setting help="" id="sort" label="30012" type="boolean">
                                        <level>0</level>
                                        <default>false</default>
                                        <control type="toggle"/>
                                </setting>
                                <setting help="" id="ilosc" label="30004" type="string">
                                        <level>0</level>
                                        <default>65</default>
                                        <constraints>
                                                <options>
                                                        <option labelenum="65">65</option>
                                                        <option labelenum="150">150</option>
                                                </options>
                                        </constraints>
                                        <control format="string" type="spinner"/>
                                </setting>
                        </group>
                </category>
                <category help="" id="drm" label="30008">
                        <group id="1">
                                <setting help="" id="drmcert" label="30009" type="boolean">
                                        <level>0</level>
                                        <default>false</default>
                                        <control type="toggle"/>
                                </setting>
                        </group>
                </category>
        <category help="" id="m3u" label="30010">
                <group id="1">
                        <setting help="" id="build_m3u" type="string" label="30011">
                                <level>0</level>
                                <default></default>
                                <constraints>
                                        <allowempty>true</allowempty>
                                </constraints>
                                <control type="button" format="action">
                                        <data>RunPlugin(plugin://plugin.video.pgobox?mode=build_m3u)</data>
                                </control>
                        </setting>
                </group>
        </category>
        </section>
    <setting id="sesstoken" value="" default=""/>  
    <setting id="sessexpir" value="" default=""/>  
    <setting id="sesskey" value="" default=""/>  
    <setting id="myperm" value="" default=""/>  
    <setting id="path_m3u" value="" default="/tmp/.emukodi"/>  
    <setting id="m3u_filename" value="" default="pgobox"/>  
</settings>
