Package: enigma2-plugin-extensions--j00zeks-msnweather-np
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components
Description: Pogoda i dane o jakości powietrza z MSN, airly, GIOŚ, looko2 i innych
Maintainer: j00zek
Source: 
Version: 22.07.15.0949
Architecture: all
DestinationPath: /usr/lib/enigma2/python/
