Package: enigma2-plugin-extensions--j00zeks-msnweather-np
Priority: optional
Section: utils
Depends: python-requests enigma2---j00zeks-components
Description: wersja tylko dla skórki BlackHarmony!!!
Maintainer: j00zek
Source: 
Version: 21.01.13.1117
Architecture: all
DestinationPath: /usr/lib/enigma2/python/
