Package: enigma2-plugin-extensions--j00zeks-sharelcdwithkodi
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components
Description: wyświetla stan Kodi na LCD lub ekranie tunera
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 19.02.17.1301
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions/ShareLCDwithKODI
