Package: e2-j00zeks-bh-addon-allbuttons-rectangle-light-blue-buttons
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: allbuttons
Maintainer: j00zek
Source: NA
Version: 21.10.24.0810
Architecture: all
DestinationPath:  /usr/share/enigma2/BlackHarmony/allButtons/Rectangle-light_blue.buttons
