Package: enigma2-plugin-extensions--j00zeks-pytho3-mini-distro
Priority: optional
Section: utils
Depends: 
Description: pakiet zawiera wszystko co potrzebne, żeby oryginalny streamlink działał w systemach korzystajacych z p2.7
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 22.02.27.0627
Architecture: all
DestinationPath: /
ExcludeFolder: scripts
RunScriptBeforeBuild: scripts/update_mini_distro.sh
