Package: enigma2-plugin-extensions--j00zeks-streamlink-configurator
Priority: optional
Section: utils
Depends: 
Description: konfigurator SL, wp, kamer internetowcyh i innych pierdół
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 22.05.26.1705
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions/StreamlinkConfig
ExcludeFolder: scripts
RunScriptBeforeBuild: scripts/getOnlineFiles.sh
BuildType: python310
