<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Dane logowania">
		<setting type="lsep" label="Dane logowania" />
		<setting id="username"  type="text" label="Login" default="" />
		<setting id="password"  type="text" label="Hasło" option="hidden"  default="" />
		<setting id="prov" type="select" label="Operator" values="Vectra|Multimedia|JAMBOX|Elsat|tvsmart.pl" default="Vectra"/>
	</category>
	
	<category label="Kreator listy m3u (live TV)">
        <setting label="Lista m3u (Nazwa Pliku oraz Katalog Docelowy)" type="lsep"/>
        <setting label="Nazwa" type="text" id="fname" default="iptv.m3u"/>
        <setting label="Katalog" type="folder" id="path_m3u" source="auto" option="writeable"/>
        <setting type="action"	action="RunPlugin(plugin://plugin.video.tv_smart_go?mode=BUILD_M3U)" label="Utwórz listę m3u" option="close"/>
	</category>
	<category label="Inne">
		<setting type="lsep" label="Sortowanie list kanałów TV" />
			<setting id="sortTV" type="select" label="Kryterium" values="wg nazwy|domyślnie" default="wg nazwy"/>
		<setting type="lsep" label="CatchUp w IPTV Simple Client" />
			<setting id="cuOffset" type="slider" label="Różnica czasowa [w godz.]" range="-10,1,10" default="0" option='int'/>
	</category>
</settings>