Package: e2kodi-script-kodi-six
Priority: optional
Section: utils
Depends: enigma2-plugin-extensions--j00zeks-e2kodi
Description: Wrappers around Kodi Python API for seamless Python 2/3 compatibility
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 25.03.20.0803
Architecture: all
DestinationPath:  /usr/lib/enigma2/python/Plugins/Extensions/E2Kodi/site-packages/emukodi/Plugins/script.module.kodi-six
ExcludeFolder: 
RunScriptBeforeBuild:
BuildType: python310
