Package: e2-j00zeks-bh-addon-userspacks-screensbyendriu
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: allscreens
Maintainer: j00zek
Source: NA
Version: 24.12.12.0748
Architecture: all
DestinationPath:  /usr/share/enigma2/BlackHarmony/
