Package: enigma2-plugin-extensions--j00zeks-streamlink-cdm
Priority: optional
Section: utils
Depends: python3-core, python3-ctypes, python3-futures3, python3-isodate, python3-lxml, python3-misc, python3-pkgutil, python3-pycountry, python3-pycryptodome, python3-pysocks, python3-requests, python3-shell, python3-singledispatch, python3-websocket-client
Description: rozszerzenie cdm do streamlinka
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 24.11.05.1618
Architecture: all
DestinationPath: /usr/lib/python3.12/site-packages
ExcludeFolder: 
RunScriptBeforeBuild:
BuildType: python310
