Package: enigma2-plugin-picons--j00zeks-msnweather-animated-icons5
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: Znalezione w sieci animowane ikony pogody dla skórki BlackHarmony
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 19.10.10.1735
Architecture: all
DestinationPath: /usr/share/enigma2/animatedWeatherIcons
