Package: e2kodi-addon-rakutentv
Priority: optional
Section: utils
Depends: enigma2-plugin-extensions--j00zeks-e2kodi
Description: Dodatek rakuten tv do e2Kodi
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 25.04.16.1159
Architecture: all
DestinationPath:  /usr/lib/enigma2/python/Plugins/Extensions/E2Kodi/site-packages/emukodi/Plugins/plugin.video.rakuten_tv
ExcludeFolder: 
RunScriptBeforeBuild:
BuildType: python310
