Package: enigma2-plugin-extensions--j00zeks-mod-startuptostandby
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components
Description: usypia tuner po restarcie tylko gdy tuner wczesniej spal
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 22.01.13.1147
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions/StartupToStandby
