Package: enigma2-plugin-extensions--j00zeks-e2iplayerwrapper
Priority: optional
Section: utils
Depends: 
Description: uruchamia material e2iplayera z listy kanalow
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 24.04.26.1029
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions/e2iplayerWrapper
