Package: enigma2-plugin-picons--j00zeks-animated-klisza-by-adek-zzpicon-size-400x170
Priority: optional
Section: utils
Depends: 
Description: Efekt ruchomej kliszy autorstwa kolegi Adek o wielkości zzpicon (400x170)
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 18.10.02.0739
Architecture: all
DestinationPath: /usr/share/enigma2/animatedZZPicons
