Package: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Priority: optional
Section: utils
Depends: enigma2---j00zeks-components enigma2-plugin-extensions--j00zeks-userskin
Description: crash BlackHarmonyFHD multi image version mod by j00zek and friends
Maintainer: j00zek
Source: NA
Version: 25.02.02.1015
Architecture: all
DestinationPath: /
ExcludeFolder: scripts
RunScriptBeforeBuild: scripts/cleanUp.sh
