Package: enigma2-plugin-picons--j00zeks-transparent-400x170-zet71
Priority: optional
Section: utils
Depends: 
Description: transparentne pikony kolegi zet71 i przyjaciól
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 22.03.08.1235
Architecture: all
DestinationPath: /usr/share/enigma2/zzpicon
