Package: enigma2-plugin-picons--j00zeks-transparent-400x170-zet71
Priority: optional
Section: utils
Depends: 
Description: zebrane transparentne pikony kolegi zet71, azma, endriu i innych
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 24.06.10.0830
Architecture: all
DestinationPath: /usr/share/enigma2/zzpicon
