Package: e2-j00zeks-bh-addon-allonoffswitches-style2
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: allOnOffSwitches
Maintainer: j00zek
Source: NA
Version: 24.04.23.1025
Architecture: all
DestinationPath:  /usr/share/enigma2/BlackHarmony/allOnOffSwitches/Style2
