Package: e2-j00zeks-bh-addon-userspacks-screensbykos
Priority: optional
Section: utils
Depends: enigma2-plugin-skins--j00zeks-blackharmonyfhd
Description: allscreens
Maintainer: j00zek
Source: NA
Version: 23.04.25.2229
Architecture: all
DestinationPath:  /usr/share/enigma2/BlackHarmony/
