Package: enigma2-plugin-extensions--j00zeks-e2kodi
Priority: optional
Section: utils
Depends: python3-core, python3-ctypes, python3-futures3, python3-isodate, python3-lxml, python3-misc, python3-pkgutil, python3-pycountry, python3-pycryptodome, python3-pysocks, python3-requests, python3-shell, python3-singledispatch, python3-websocket-client
Description: obsługa wtyczek Kodi-drm pod E2
Maintainer: j00zek
Source: http://github.com/j00zek/eePlugins
Version: 25.03.28.0608
Architecture: all
DestinationPath: /usr/lib/enigma2/python/Plugins/Extensions
ExcludeFolder: scripts
RunScriptBeforeBuild: scripts/buildAddons.sh
BuildType: python310
